html {
  height: 100%;
  width: 100%;
}

img {
  width:200px;
}

p {
  font-family:'Gill Sans'
}

body {
  text-align: center;
  font-family:'Arial';
  color:darkblue;
  background-color:powderblue;
}

table {
  width: 100%; font-family: Cursive; color:white; background-color:white; border-collapse: collapse;
}
th {
  text-decoration: underline; color:darkblue;background-color: pink; border: 1px solid blue;
  padding: 15px;
}
td {
  color:darkblue; border: 1px solid blue;
  padding: 15px;
}
tr:hover{
  background-color:lightyellow;
}